page-vine-list {

  .wrap{

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0;
  }

  img{

    z-index: 1;
    height: 15vh;
    margin: auto;
    position:  relative;
    top: -12.5vh;
    margin: auto !important;

  overflow: visible !important;
  }
  ion-navbar{
    height: 12vh;;
  }
#text-content{
  display: inline-block;
  position: relative;
  width: 100%;
}
#pound{

  float: right;
  text-align: right;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1rem;
  margin-top: -2px;


}

#text{
  float: left;
  width: 85%;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

  .content{
    background-color: #f3f3f3;
    font-family: 'Roboto Slab', serif;
    margin-top: 3vh !important;
  }
  .item-block{
    color: #5f1842;
  }
  ion-list{
    margin-bottom: 0px !important;
  }
  .first,.second{
    font-family: anotherTypewriter;
    font-weight: 900;
  }
  .first{
    font-size: 1.3rem;
    background-color: #f3f3f3 !important;
  }
  .second{
    color: #666666;
    margin-bottom: 2px !important;
  }

  .item-ios p {

    font-size: 1rem;
    line-height: 1.5rem;
  }
  h3{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #666666;
    font-size: 1.5rem;
  }


  .toolbar-background {
    background-color: white;
    height: 12.5vh;
    overflow: visible;
}
  .ion-header{

    height: 12.5vh;
  }

  .header-md::after{
    background-image: none;
  }
}
