page-vine-list {

  .header.header-ios>img,.header.header-md>img{
  height: 15vh;
  position: absolute;
  top: 0;
  left: 38%;



  }

#text-content{
  display: inline-block;
  position: relative;
  width: 100%;
}
#pound{

  float: right;
  text-align: right;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1rem;
  margin-top: -1%;


}

#text{
  float: left;
  width: 85%;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

  .content{
    background-color: #f3f3f3;
    font-family: 'Roboto Slab', serif;
    margin-top: 3vh !important;
  }
  .item-block{
    color: #5f1842;
  }
  ion-list{
    margin-bottom: 0px !important;
  }
  .first{
    font-family: anotherTypewriter;
    font-weight: 900;

    font-size: 1.3rem;
    background-color: #f3f3f3 !important;
  }
  .second{
    font-family: anotherTypewriter;
    font-weight: 900;
    color: #666666;
    margin-bottom: 2px !important;

  }

  .item-ios p {

    font-size: 1rem;
    line-height: 1.5rem;
  }
  h3{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #666666;
    font-size: 1.5rem;
  }

  ion-navbar{
    height: 12.5vh;
  }
  .toolbar-background {
    background-color: white;
}
  .ion-header{

    height: 12.5vh;
  }

  .header-md::after{
    background-image: none;
  }
}
